@media screen and (max-width: 768px) {
    .card {
        width: 47%;
        margin-top: 0vh;
        margin-bottom: 2vh;
        flex-direction: column;
        justify-content: center;
        text-align:center;
    }

    .dis-pic {
        padding: 2rem 0rem 0rem 0rem;
        width: 100%;
        height: auto;
    }

    .side-img {
        width: 55%;
        height: auto;
    }
    
    .main-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .h1-text {
        font-size: 0.8rem;
    }
    
    .h2-text {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: 30%;
        margin-top: 0vh;
        margin-bottom: 2vh;
        flex-direction: column;
        justify-content: center;
        text-align:center;

    }

    .dis-pic {
        padding: 2rem 0rem 0rem 0rem;
        width: 100%;
        height: auto;
    }

    .side-img {
        width: 55%;
        height: auto;
    }

    .main-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .h1-text {
        font-size: 1.3rem;
    }
    
    .h2-text {
        font-size: 1.1rem;
    }
}