.foot{
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(27, 27, 29);

    padding-top: 1%;
    padding-bottom: 1%;
}

.text{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14375rem;
}